[webservers]

%{~ for i in webservers ~}

${i["name"]}   
%{~ endfor ~}

[database]

%{~ for i in database ~}

${i["name"]}   
%{~ endfor ~}

[storage]

%{~ for i in storage ~}

${i["name"]}   
%{~ endfor ~}